.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 4%;
}
.navbar .logo{
  width: 80px;
}
.navbar .profile{
  width: 40px;
}
.sb{
  color: tomato;
}
.icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar .icon h3{
  font-size: 0.9vw;
}